body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #324b4b;
}
.calculator {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  width: 100%;
}
.display {
  width: 95%;
  height: 50px;
  background: #afc7be;
  border: none;
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  padding: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.button {
  height: 50px;
  background: #008080;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.button:active {
  background: #0e3e22;
}
.button.clear {
  background: #ff8749;
}
.button.equal {
  grid-column: span 2;
}
