body {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

.outerBox {
  width: 100%;
  max-width: 400px;
  height: 80px;
  background-color: darkcyan;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: rgb(89, 32, 1) solid 2px;
  border-radius: 50px;
}
.outerBox:hover .loadingBar {
  transition-delay: 0.5s;
  width: 100%;
  cursor: pointer;
}
.outerBox:hover .text {
  transition-delay: 0.5s; /* Appear after 0.5s */
  opacity: 1;
}
.loadingBar {
  width: 0%;
  height: 80px;
  background-color: cyan;
  transition: width 5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.text {
  position: absolute;
  opacity: 0;
  transition: opacity 0s linear 0.5s;
  color: white;
}
