body {
  background-color: #36454f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  height: 900px;
}
button {
  font-size: 2vw;
  border-radius: 10px;
  border: none;
  color: #f0efe7;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.logo-buttons {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}
img {
  width: 8vw;
}
p {
  color: #7442c8;
  font-size: 1.5vw;
}
input {
  outline: none;
  font-size: 1.2vw;
  border-radius: 20px;
  border: none;
  text-align: center;
  background-color: #36454f;
  color: #f0efe7;
  height: 3.5vh;
  position: relative;

  transition: border 0.2s ease-in-out;
}

button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f0efe7;
  transition: width 0.4s ease-in-out;
}

button:hover::after {
  width: 100%;
}

#calcDiv {
  display: none;
  border-radius: 30px;
  width: 700px;
  height: 45vh;
  color: #7442c8;
  font-size: 1.5vw;
}

#tryAgain {
  display: none;
}

#inputs {
  display: flex;
  flex-direction: column;
}
#txtRepeaterDiv {
  background-color: #151922;
  width: 700px;
  height: 45vh;
  border-radius: 30px;
}
#calcH1,
#repeaterH2,
#txtRepeaterDiv {
  display: none;
  font-size: 2vw;
  color: #f0efe7;
}

#repeatBtn {
  margin-top: 2vw;
}
#repeaterTryAgain {
  display: none;
}
