body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.slider {
  text-align: center;
  margin-bottom: 50px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 18px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s, opacity 0.4s;
}

button:hover {
  background-color: rgb(0, 75, 75);
}
button:active {
  opacity: 0.6;
}
h2 {
  color: #333;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}
