div {
  width: 300px; /* / ცვლის სიგრძეს/სიგანეს */
  height: 500px; /*// ცვლის სიმაღლეს*/
  background-color: red;/* * ცვლის ფერს (წითლად) */
  color: white; /* !  ცვლის ტექსტის ფერს*/
  border: black solid 2px; /* | ცვლის ელემენტის საზღვრის მონაცემებს */
}
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1000px;
  height: 1000px;
}

.child {
  width: 500px;
  height: 500px;
  background-color: blue;
  color: white;
  border: black solid 2px;
  font-size: xx-large;
}
