body {
  margin: 0px;
  user-select: none;
}
main {
  margin-left: 20px;
  margin-right: 20px;
  user-select: none;
}
h1 {
  text-align: center;
  user-select: none;
}
.navbar {
  display: flex;
  user-select: none;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  background-color: darkred;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}
.navbar a {
  color: beige;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border: solid 1.5px;
  user-select: none;
  border-color: rgb(27, 27, 102);
}
.navbar a:hover {
  opacity: 0.7;
}
.navbar li {
  justify-content: space-between;
  float: left;
}
.navbar button {
  color: beige;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border-style: solid;
  user-select: none;
  border-color: rgb(27, 27, 102);
  background-color: darkred;
}
